<div class="header-small">Exam {{exam.overall.exam_name}}</div>
<div class="text-center exam-details">Maximum marks: {{exam.overall.max_marks}}</div>
<div class="text-center exam-details">Total Duration: {{exam.overall.duration}}</div>
<div style="text-align:right">Time Remaining: {{getMins() + ':' + getSeconds()}}</div>

<div class="warning">Warning: Do not refresh! The exam will restart on refreshing</div>


<div class="container">
    <form class="d-flex flex-column" [formGroup]="examForm" (ngSubmit)="onSubmit()">
        <ng-container *ngFor="let q of exam.questions; let idx=index">
            <div>{{idx+1}}. {{q.question_text}}</div>           
            <mat-form-field  appearance="fill" class="mb-5">
                
                <mat-label>Your Code here</mat-label>
                <textarea [formControlName]="'ques' + q.question_id"  matInput cdkTextareaAutosize cdkAutosizeMinRows="10"> </textarea>
                <!-- <mat-label for="first-name">Exam Name: </mat-label>
                <textarea matInput id="first-name" type="text" formControlName="examName"> </textarea> -->
            </mat-form-field>
        </ng-container>
        
        <button mat-button color="primary" (click)="onSubmit()">Submit</button>
    </form>
</div>
