<h1 class="text-center" style="font-size:32px">Question Bank Generator</h1>
<div class="d-flex justify-content-around">
    <img style="width:40%; object-fit: cover;" src="assets/home.jpeg">
    <div style="width:40%" class="d-flex align-items-center justify-content-center">
        <button class="glow-on-hover" type="button" (click)="navigate('login')">Lets Begin!</button>
    </div>
</div>
<div style="text-align:right"><a href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fyoctel.tumblr.com%2Fpost%2F170710800856%2Fquestion-paper-making-software-free-download&psig=AOvVaw3_sa98Z6gsv8DlyqBv24Qb&ust=1651305034763000&source=images&cd=vfe&ved=0CAwQjRxqFwoTCLjnu-LkuPcCFQAAAAAdAAAAABAD">Image source</a></div>
