<mat-card class="example-card">
    <div class="text-center card-title">Student profile: {{sid}}</div> 
    <mat-card-content>
        <span class="header-small">Name</span>
        <br>
        {{student.first_name}} {{student.last_name}}
        <br><br>
        <span class="header-small">Username</span>
        <br>
        {{student.user_name}}
        <br><br>
        <span class="header-small">Institute</span>
        <br>
        {{student.name}}
        <br><br>
        <span class="header-small">FacAd</span>
        <br>
        <a href="teacher/{{student.facad}}">{{student.facad_name}}</a>
        
        <!-- Todo: Handle questions properly and add link to question detail view-->
        <br><br>
        <span class="header-small">Attempted exams</span>
        <table class="table">
            <thead class="table-dark">
                <tr>
                <th scope="col">Exam Id</th>
                <th scope="col">Exam Name</th>
                <th scope="col">Exam Year</th>
                <th scope="col">Report Card Link</th>
                </tr>
            </thead>
            <tbody>
                <ng-container>
                    <tr *ngFor="let e of attempted_exams.slice(table_idx*10, table_idx*10+10)">
                        <th scope="row">{{e.exam_id}}</th>
                        <td> {{e.exam_name}}</td>
                        <td> {{e.year}}</td>
                        <td><button mat-raised-button (click)="navigate_to_rc(e.exam_id)">View Report</button></td>
                    </tr>
                </ng-container>
            </tbody>
        </table>

        <div class="d-flex justify-content-around align-items-center">
            <button mat-raised-button (click)="start()" [disabled]="table_idx == 0">Start</button>
            <button mat-raised-button (click)="prev()" [disabled]="table_idx == 0">Prev</button>
            <button mat-raised-button (click)="next()" [disabled]="table_idx == max_table_idx">Next</button>
        </div>


    </mat-card-content>
  </mat-card>

