<br>
<div *ngIf="!is_teacher && !is_student">
    <h1 style="text-align: center;"> Login </h1>

    <button class="btn btn-lg btn-dark" (click)="activateStudentLogin()" type="submit">Login as Student</button>
    <button class="btn btn-lg btn-dark" (click)="activateTeacherLogin()" type="submit">Login as Teacher</button>
</div>
<div *ngIf="is_student">
    <h1 style="text-align: center;"> Login as Student</h1>

    <form [formGroup]="loginForm">
        <label>User Name</label>
        <input class="form-control form-control-lg" type="text" formControlName="username" placeholder="Enter username">
        <label>Password</label>
        <input class="form-control form-control-lg" type="password" formControlName="password"
            placeholder="Enter password">
        <button class="btn btn-lg btn-dark" (click)="onSubmit()" type="submit">Login</button>
        <div *ngIf="notsuccess" class="alert alert-danger" role="alert">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            Incorrect username/password! Try again.
        </div>
    </form>
</div>
<div *ngIf="is_teacher">
    <h1 style="text-align: center;"> Login as Teacher </h1>

    <form [formGroup]="teacherloginForm">
        <label>User Name</label>
        <input class="form-control form-control-lg" type="text" formControlName="username" placeholder="Enter username">
        <label>Password</label>
        <input class="form-control form-control-lg" type="password" formControlName="password"
            placeholder="Enter password">
        <button class="btn btn-lg btn-dark" (click)="onTeacherSubmit()" type="submit">Login</button>
    </form>
</div>