<mat-card class="example-card">
    <mat-card-content class="d-flex justify-content-around">
        <div *ngIf="!is_teacher && !is_student">
            <h1 style="text-align: center; font-size: 42px; margin-bottom: 32px;"> Login </h1>
            <div style="width:100vw" class="d-flex justify-content-around">
                <button mat-raised-button (click)="activateStudentLogin()" type="submit">Login as Student</button>
                <button mat-raised-button (click)="activateTeacherLogin()" type="submit">Login as Teacher</button>
            </div>
            <div class="text-center mt-5">
                Don't have an account? <a href="register">Register Now!</a>
            </div>
        </div>
        <div *ngIf="is_student">
            <h1 style="text-align: center;"> Login as Student</h1>

            <form [formGroup]="loginForm">
                <mat-form-field appearance="fill">
                    <mat-label>User Name</mat-label>
                    <input matInput type="text" formControlName="username" placeholder="Enter username">
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password" placeholder="Enter password">
                </mat-form-field>
                <br>
                <button mat-raised-button color="primary" (click)="onSubmit()" type="submit">Login</button>
            </form>
        </div>
        <div *ngIf="is_teacher">
            <h1 style="text-align: center;"> Login as Teacher</h1>
            <form [formGroup]="teacherloginForm">
                <mat-form-field appearance="fill">
                    <mat-label>User Name</mat-label>
                    <input matInput type="text" formControlName="username" placeholder="Enter username">
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password" placeholder="Enter password">
                </mat-form-field>
                <br>
                <button mat-raised-button color="primary" (click)="onTeacherSubmit()" type="submit">Login</button>
            </form>
        </div>
    </mat-card-content>
</mat-card>