<!-- Handle styling -->
<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Question: {{question.general.question_id}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-list><b class="question">Question: </b>
            <p>{{question.general.question_text}}</p>
        </mat-list>
        <mat-list>Tags:
            <span class="tag-item" *ngFor="let t of question.tags.tags">{{t}} </span>
        </mat-list>
        <mat-list>Exams in which this question is used:
            <mat-list-item *ngFor="let e of question.exams"><a href="exam-detail/{{e.exam_id}}">{{e.exam_id}}</a>, {{e.exam_name}}</mat-list-item>
        </mat-list>
        <mat-list>Difficulty: {{question.general.primary_difficulty}}</mat-list>
        <mat-list>Author: <a href="teacher/{{question.general.author}}">{{question.general.author_first_name}} {{question.general.author_last_name}}</a></mat-list>
        <mat-list>Stats:
            <mat-list-item>Average time: {{question.stats.avg_time}}</mat-list-item>
            <mat-list-item>Percentage: {{question.stats.perc}}</mat-list-item>
            <mat-list-item>Student Rating: {{question.stats.student_rating}}</mat-list-item>
        </mat-list>
        <!-- Todo: Handle demographics properly -->
        <mat-list>Demographics:
            <mat-list-item *ngFor="let d of question.demographics">
                Institute: {{d.institute}}, {{d.name}}
                Average time: {{d.avg_time}}
                Percentage: {{d.perc}}
                Student Rating: {{d.student_rating}}
            </mat-list-item>
        </mat-list>
    </mat-card-content>
  </mat-card>

<div style="width:20%">
  <div>
    <div class="chart">
      <canvas baseChart
              [data]="pieChartData"
              [type]="pieChartType"
              [options]="pieChartOptions">
      </canvas>
    </div>
  </div>
</div>