<!-- Handle styling -->
<mat-card class="example-card">
    <mat-card-header class="d-flex justify-content-center">
     <b><h1 class="text-center">Question: {{question.general.question_id}}</h1></b>
    </mat-card-header>
    <mat-card-content>
        <mat-list>
            <span class="header-extra-small">Description: </span> <span class="ques-desc">{{question.general.question_text}}</span>
        </mat-list>
        <mat-list><span class="header-extra-small"> Tags: </span>
            <span class="tag-item" *ngFor="let t of question.tags.tags">{{t}} </span>
        </mat-list>
        <mat-list><div class="header-small">Exams in which this question is used:</div>
            <table class="table">
                <thead class="table-dark">
                  <tr>
                    <th scope="col">Exam Id</th>
                    <th scope="col">Exam Name</th>
                  </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let e of question.exams">
                        <tr  class="link" (click)="navigate('exam/' + e.exam_id)">
                            <th scope="row">{{e.exam_id}}</th>
                            <td>{{e.exam_name}}</td>
                          </tr>
                    </ng-container>
                </tbody>
            </table>
        </mat-list>
        <div class="header-small">Stats</div>
            <table class="table">
                <thead class="table-dark">
                  <tr>
                    <th scope="col">Average time</th>
                    <th scope="col">Average Percentage</th>
                    <th scope="col">Average Student Rating</th>
                    <th scope="col">Difficulty</th>
                    <th scope="col">Author</th>
                  </tr>
                </thead>
                <tbody>
                        <tr >
                            <th scope="row">{{question.stats.avg_time}}</th>
                            <td>{{question.stats.perc}}</td>
                            <td>{{question.stats.student_rating}}</td>
                            <td>{{question.general.primary_difficulty}}</td>
                            <td><a href="teacher/{{question.general.author}}">{{question.general.author_first_name}} {{question.general.author_last_name}}</a></td>
                        </tr>
                </tbody>
            </table>

        <div class="header-small">Institute Wise Demographics</div>
        <br>
        <br>
        <mat-form-field color="secondary" appearance="fill">
            <mat-label color="secondary">Institute</mat-label>
            <mat-select color="secondary" [(value)]="current_insti">
                <ng-container *ngFor="let item of question.demographics" >
                    <mat-option color="secondary" [value]="item">
                        {{item.name}}
                    </mat-option>
                </ng-container>
            </mat-select>
        </mat-form-field>
        <br>
        <ng-container *ngIf="current_insti">
            <table class="table">
                <thead class="table-dark">
                    <tr>
                    <th scope="col">Institute</th>
                    <th scope="col">Average time</th>
                    <th scope="col">Percentage</th>
                    <th scope="col">Student Rating</th>
                    </tr>
                </thead>
                <tbody>
                        <tr >
                            <th scope="row">{{current_insti.name}}</th>
                            <td>{{current_insti.avg_time | number : '1.2-2'}}</td>
                            <td>{{current_insti.perc | number : '1.2-2'}}</td>
                            <td>{{current_insti.student_rating | number : '1.2-2'}}</td>
                        </tr>
                </tbody>
            </table>
        </ng-container>


        <div class="header-small">Plots</div>
        <br>
        <br>
        <div class="row d-flex justify-content-between">
            <div class="col-5" style="height: fit-content;">
                <div style="display: block">
                <canvas baseChart
                    [data]="time_taken_data"
                    [options]="barChartOptions[0]"
                    [plugins]="barChartPlugins"
                    [type]="barChartType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)">
                </canvas>
                </div>
            </div>
            <div class="col-5" style="height: fit-content;">
                <div style="display: block">
                <canvas baseChart
                    [data]="marks_data"
                    [options]="barChartOptions[1]"
                    [plugins]="barChartPlugins"
                    [type]="barChartType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)">
                </canvas>
                </div>
            </div>
        </div>

        
        <div class="mt-5">
            <div class="col-5" style="height: fit-content;">
                <div style="display: block">
                <canvas baseChart
                    [data]="relevance_data"
                    [options]="barChartOptions[2]"
                    [plugins]="barChartPlugins"
                    [type]="barChartType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)">
                </canvas>
                </div>
            </div>
        </div>

        
    </mat-card-content>
  </mat-card>
