<mat-card class="example-card">
    <div class="card-title text-center">{{institute.general.name}}<br><br>{{institute.general.location}}</div>
    <mat-card-content>

        <!-- Todo: Handle students and exams properly and add link to question detail view-->
        <div class="header-small">Students</div> 
        <table class="table">
            <thead class="table-dark">
                <tr>
                <th scope="col">Student Id</th>
                <th scope="col">Student Name</th>
                </tr>
            </thead>
            <tbody>
                <ng-container>
                    <tr *ngFor="let s of institute.students" class="link" (click)="navigate('student/' + s.student_id)">
                        <th scope="row">{{s.student_id}}</th>
                        <td> {{s.name}}</td>
                    </tr>
                </ng-container>
            </tbody>
        </table>

       <div class="header-small">Exams (demographics)</div>
       <table class="table">
            <thead class="table-dark">
                <tr>
                <th scope="col">Exam Id</th>
                <th scope="col">Average Marks</th>
                <th scope="col">Average Time</th>
                <th scope="col">Best Rank</th>
                </tr>
            </thead>
            <tbody>
                <ng-container>
                    <tr *ngFor="let e of institute.exams.slice(table_idx*10, table_idx* 10 +10)" class="link" (click)="navigate('exam/' + e.exam_id)">
                        <th scope="row">{{e.exam_id}}</th>
                        <td>{{e.avg_marks | number : '1.2-2'}}</td>
                        <td>{{e.avg_time | number : '1.2-2'}}</td>
                        <td>{{e.best_rank}}</td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
        <div class="d-flex justify-content-around">
            <button mat-raised-button (click)="start()" [disabled]="table_idx == 0">Start</button>
            <button mat-raised-button (click)="prev()" [disabled]="table_idx == 0">Prev</button>
            <button mat-raised-button (click)="next()" [disabled]="table_idx == max_table_idx">Next</button>
        </div>
    </mat-card-content>


    <div class="header-small">Graphs</div>
    <div class="row d-flex justify-content-around mb-5">
        <div class="col-3">
            <div>
              <div class="chart">
                <canvas baseChart
                        [data]="avgTimeData"
                        [type]="'pie'">
                </canvas>
              </div>
              <div class="text-center">
                Pie chart showing distribution of average time wrt exams
              </div>
            </div>
        </div>
        <div class="col-3">
            <div>
              <div class="chart">
                <canvas baseChart
                        [data]="avgMarksData"
                        [type]="'pie'">
                </canvas>
              </div>
              <div class="text-center">
                Pie chart showing distribution of average marks wrt exams
              </div>
            </div>
        </div>
    </div>
    <br>
    <br>

    <div class="row mt-5 justify-content-around">
        <div class="col-8">
            <div>
              <div>
                <canvas baseChart
                  [data]="barChartData"
                  [options]="barChartOptions">
                </canvas>
              </div>
            </div>
            <div class="text-center">
                Bar chart showing distribution of best ranks
            </div>
          </div>
    </div>
  </mat-card>
