.linked-row{
    cursor: pointer;
    &:hover{
        background-color: rgba(0,0,0,0.1);
    }
}

.example-card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.histogram-graph{
    max-width: 40%;
}