<div class="navbar">
    <mat-nav-list role="list" class="horizontal-list">
        <div style="float: left;">
            <mat-list-item role="listitem" class="list-item"> <a mat-button href="home">Home</a> </mat-list-item>
            <mat-list-item role="listitem" class="list-item"> <a mat-button href="questions">Questions</a>
            </mat-list-item>
        </div>
        <div style="float: right">
            <mat-list-item role="listitem" class="list-item-end"> <a mat-button *ngIf="!_loginserv.loggedIn()"
                    href="login">Login</a> </mat-list-item>
            <mat-list-item role="listitem" class="list-item-end"> <a mat-button *ngIf="!_loginserv.loggedIn()"
                    href="register">Register</a> </mat-list-item>
            <mat-list-item role="listitem" class="list-item-end"> <a mat-button *ngIf="_loginserv.loggedIn()"
                    (click)="_loginserv.logoutUser()">Logout</a> </mat-list-item>
            <!-- <mat-list-item role="listitem" class="list-item-end" *ngIf="loggedIn"> <a mat-button
                    href="profile">Profile</a> </mat-list-item> -->
        </div>
    </mat-nav-list>
</div>

<div style="width: 90%; margin-left: 5%; margin-top: 1cm; margin-bottom: 2cm;">
    <router-outlet></router-outlet>
</div>