<!-- This code is made with love by Umesh Bellur sir's gang -->

<div class="navbar">
    <mat-nav-list role="list" class="horizontal-list" style="width:100vw">
        <div style="float: left;">
            <mat-list-item role="listitem" class="list-item"> <a mat-button href="">Home</a> </mat-list-item>

            <!-- <mat-list-item role="listitem" class="list-item-end" *ngIf="loggedIn"> <a mat-butto
                    href="profile">Profile</a> </mat-list-item> -->
            <mat-list-item role="listitem" class="list-item" *ngIf="_loginserv.loggedIn()">
                <a mat-button href="questions">Questions</a>
            </mat-list-item>
            <mat-list-item role="listitem" class="list-item" *ngIf="_loginserv.loggedIn()">
                <a mat-button href="exams">Exams</a>
            </mat-list-item>
            <mat-list-item role="listitem" class="list-item" *ngIf="_loginserv.loggedIn()">
                <a mat-button href="institutes">Institutes</a>
            </mat-list-item>
            <mat-list-item role="listitem" class="list-item" *ngIf="_loginserv.teacherloggedIn()">
                <a mat-button href="prepare-exam">Create Exam</a>
            </mat-list-item>
            <mat-list-item role="listitem" class="list-item" *ngIf="_loginserv.teacherloggedIn()">
                <a mat-button href="add-question">Add question</a>
            </mat-list-item>
        </div>
        <div style="float: right;">
            <mat-list-item role="listitem" class="list-item-end"> <a mat-button *ngIf="!_loginserv.loggedIn()"
                    href="login">Login</a> </mat-list-item>
            <mat-list-item role="listitem" class="list-item-end"> <a mat-button *ngIf="!_loginserv.loggedIn()"
                    href="register">Register</a> </mat-list-item>
            <mat-list-item role="listitem" class="list-item-end"> <a mat-button *ngIf="_loginserv.loggedIn()"
                    (click)="_loginserv.logoutUser()">Logout</a> </mat-list-item>
        </div>
    </mat-nav-list>
</div>

<div style="width: 90%; margin-left: 5%; margin-top: 1cm; margin-bottom: 2cm;">
    <router-outlet></router-outlet>
</div>