<h1 style="text-align:center">Exams</h1>

<section class="container">
    <div>
        <mat-selection-list #list>
        <div *ngFor="let e of exams" >
                <mat-expansion-panel style="margin-bottom: 0.2cm;">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{e.exam_id}}
                        </mat-panel-title>
                        <mat-panel-description>
                            {{e.exam_name}}
                        </mat-panel-description>
                        <a mat-button href="exam/{{e.exam_id}}" *ngIf="is_attempted[e.exam_id]">
                            <mat-icon>launch</mat-icon>
                            Detailed View
                        </a>
                        <a mat-button href="attempt-exam/{{e.exam_id}}" *ngIf="!is_attempted[e.exam_id]">
                            <mat-icon>launch</mat-icon>
                            Attempt Exam
                        </a>
                    </mat-expansion-panel-header> 
                    <div>
                        <mat-list>
                            <mat-list-item>Year: {{e.year}}</mat-list-item>
                            <mat-list-item>Type: {{e.type}}</mat-list-item>
                            <mat-list-item>Duration {{e.duration}}</mat-list-item>
                        </mat-list>
                    </div> 
                </mat-expansion-panel>
            </div>
        </mat-selection-list>
    </div>
</section>

<div class="d-flex justify-content-around" style="padding-bottom: 32px; padding-top:32px">
    <button mat-button (click)="goto_start()" [disabled]="start == 0">Start</button>
    <button mat-button (click)="prev()" [disabled]="start == 0">Prev</button>
    <button mat-button (click)="next()" [disabled]="start * 10 >= all_exams.length">Next</button>
</div>